
body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.64;
   
}

section , footer { 
    min-height: 105vh;
    margin-top: -45px;
    font-size: 22px;
}

ul { 
    list-style-type: none;
}

img { 
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

a { 
    text-decoration: none;
}

header h1 { 
    font-size: 63px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    border-bottom-color: rgba(255,255,255,0.35);
}

header p { 
    position: relative;
    bottom: 45px;
    font-weight: 200;
    font-size: 21px;
}




header { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    background: no-repeat;
    background-attachment: fixed;
    background-image: url("../images/lap1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

header a { 
    color: #b6c2ff;
}

header > * { 
    position: relative;
    z-index: 2;
}

header:after { 
 content: '';
 position: absolute;
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: #1f1e1e99;
}

#langB { 
    background:none;
    outline: none;
}


.title { 
    color: #5696a5;
    font-size: 30px;
    font-weight: 500;
}

.sectNameCon { 
    text-align: center;
    position: relative;
    top: 50px;
}

.sectNameCon h2 { 
    font-size: 54px;
    text-align: center;
}

.sectNameCon p { 
    text-align: center;
    color: #727878;
    margin-bottom: 40px;
    position: relative;
    bottom: 40px;
    
}

.con { 
    background-color:#F3EFE0;
}


.frow { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.frow li { 
   border-top: 1px solid #a4acac;
   width: 400px;

}
.imgli { 
  text-align: center;
}
.imgli img { 
    border-radius: 50%;
    border: 10px #63ffb4 solid;
    margin: 20px 10px 20px 10px;
    width: 270px; height: 270px;
    object-fit: cover;
}

.con2 { 
    background-color:#e2d2b8;
}

.exep { 
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.exep li { 
    border-top: 1px solid #a4acac;
    width: 400px;
    flex-direction: column;
}

.eli { 
    opacity: 0;
}

.moh { 
    font-size: 19px;
}

.abilcon { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
    direction: ltr;
}

.abt { 
    margin-left: 175px;
}


.abilcon li  {
    width: 400px;
    padding: 5px 5px 5px 0px;
}



.abilcon li .imgc { 
    float: right;
}



.star { 
    width: 15px;
    height: 15px;
    transition: 0.5s;
}



.abilcon li:hover {
    background-color: #dadacf; 
 }

 .abilcon li:hover .star {
    width: 18px;
    height: 18px;
    transition: 0.5s;
 }

 .wecon { 
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 .wecon li { 
    border-top: 1px solid #a4acac;
    margin-bottom: 30px;
 }
 
 .imageCon { 
     position: relative;
     width: 450px;
     height: 270px;
 }

 .image { 
     display: block;
     width: 100%;
     height: 100%;
     border: 1px solid #221a1a;
     filter: blur(0.75px);
 }
 .img-overlay { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(86, 150, 165, 0.6);
    backdrop-filter: blur(5px);
    font-family: sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; 
    transition: 0.45s;
 }

 .img-overlay > * { 
     transform: translateX(-20px);
     transition: 0.45s;
 }

 .img-overlay:hover > * { 
    transform: translateY(0);
}
 
 .img-overlay:hover { 
     opacity: 1;
 }

 .img-title { 
     font-size: 1.5em;
     font-weight: bold;
     margin: 0px 5px 0px 5px;
     border-bottom: 1px solid  #ffffff59;;
 }
 .img-desc { 
     margin: 15px 15px 0px 15px;
 }
 


  footer { 
    background-color:#494949;
  }

  .titf { 
      color: whitesmoke;
  }

  .Fcon {
  text-align: center;
  }

  .Fcon div { 
     color: #a5a5a5;
  }

  .Fcon img { 
      background-color: #a5a5a5;
      padding: 5px;
      width: 30px;
      height: 30px;
      margin-right: 15px;
      position: relative;
      top: 10px;
  }

  .flink:hover { 
      color: whitesmoke;
  }

  .flink:hover img { 
    background-color: whitesmoke;
}


@media screen and (max-width: 940px) {
    .frow { 
       flex-wrap: wrap;
    }
    
    .frow li { 
        margin-right: 10px;
     }

     .moh { 
         display: none;
     }

     .abilcon { 
         flex-direction: column;
     }
     .abil2 { 
         position: relative;
         bottom: 45px;
     }
     
     .wecon { 
        flex-direction: column;
    }
    
}

@media screen and (max-width: 610px) { 
    .imageCon { 
        width: 300px;
    }
}